.auth-container {
    display: flex;
    height: 100vh;
}

.left-side {
    width: 50%;
    background-image: url('../../src/assets/images/motherboard.jpg'); /* Replace 'your-image-url.jpg' with the path to your image */
    background-size: cover;
}

.right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-area {
    background-color: #f2f2f2; /* Add gray background color */
    padding: 20px;
    border-radius: 8px;
}

.form-container {
    padding: 20px;
}

input[type='text'],
input[type='password'],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
